.container {
  position: absolute;
}

.app {
  display: flex;
}

.board {
  display: block;
}

.options {
  display: block;
}

.options > button {
  display: block;
}

.restart {
  display: block;
}

button.back {
  position: relative;
}

.board {
  position: relative;
  z-index: 1;
}

.figures {
  position: absolute;
  top: 0;
  left: 0;
}

img.figure {
  position: absolute;
  height: auto;
  z-index: 10;
}

.square {
  width: 20px;
  height: 20px;
}

.winner-sign {
  position: absolute;
  font-size: 26px;
  font-weight: bold;
}

.captured-pieces-container {
  display: block;
}

chess-captured-pieces {
  position: relative;
}

.captured-piece {
  display: inline-block;
}

.captured-piece > img {
  height: auto;
  width: 50px;
}
